%a.add_project{"data-toggle" => "modal", :href => "#newProjectModal", :role => "button"}Add a Project
#newProjectModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel= @projects.empty? ? "Welcome to HaxHub" : "Add a New Project"
  .modal-body.dashboard-body
    -if @projects.empty?
      %p.dashboard-text Haxhub is your one-stop dashboard for tracking GitHub commits, Travis CI builds, and Pivotal Tracker stories.
      %p Start by adding a repo below.
      %hr
    =form_tag "/projects", method: :post, class: 'form-inline' do
      %p
        .dashboard-body.pull-left GitHub
        =text_field_tag(:repo_name_owner, nil, class: "input input-large dashboard-input large", placeholder: "Enter your repo", 'autocomplete' =>'off', 'data-provide' => 'typeahead', 'data-source' => search)
      %p.dashbard-tip Start typing here and select your repo.
      %hr
      %p
        .dashboard-body.pull-left Travis-CI
        %input{:id => "checkbox-new", :type => "checkbox", :checked => nil, :name => "checked"}
        %label{:for => "checkbox-new"}
      %p.dashbard-tip Click the switch to activate Travis-CI.
      =submit_tag("Add Project", class: 'btn project-create btn-warning')
      / this spacing is for the autocomplete