%div{:id => 'carousel', "data-interval-id" => 'nil', class: "btn-group pull-right", "data-toggle" => "buttons-radio"}
  %button{id: 'stop-carousel', class: 'btn active'}
    %img{src: 'assets/standing-icon.png'}
  %button{id: 'slow-carousel', class: 'btn'}
    %img{src: 'assets/walking-icon.png'}
  %button{id: 'fast-carousel', class: 'btn'}
    %img{src: 'assets/running-icon.png'}