- if project.repo.git_actions.count == 0
  - 6.times do
    %li{"data-git-event-at" => first_li_event_at, style: "display: none;"}
  %li.github-notice.notice-window{"data-git-event-at" => first_li_event_at} 
    %p
      We tried to find your commits, we really did. We'll keep doing some
      searching for a minute. Do you have any commits in your
      = link_to 'repository?', github_url(project.repo), target: '_blank'
  %li.github-spinner{"data-git-event-at" => first_li_event_at}
    %img{src: "assets/spinner.gif"}
    %br
    %p Fetching your commits from GitHub
- elsif project.repo.git_actions.count < 8
  - project.repo.git_actions.limit(8).each do |action|
    = render "github_feed_item", {action: action}
  - (8-project.repo.git_actions.count).times do
    %li{"data-git-event-at" => first_li_event_at, style: "display: none;"}
- else
  - project.repo.git_actions.limit(8).each do |action|
    = render "github_feed_item", {action: action}
