.feed-data.media.branch
  %span.pull-left
    = image_tag("http://i.stack.imgur.com/3H83k.jpg?s=128&g=1", class: "media-object thumb img-rounded")
  .media-body
    %span.media-heading hot keys are working, super smiley. Thanks for the beer, JAMESAMEAMASME
    .feed-footer
      %span.pull-left xacaxulu
      %span.pull-right authored 5 hours ago