.feed-data.media
  .media-body.pivotal
    %span.media-heading= activity.description
    .feed-footer.pull-bottom
      %span.pull-left= activity.event_type
      %span.pull-right= "authored #{time_ago_in_words activity.occurred_at} ago"