%a{:href => "#buttonDropdowns"}
  = project.title
  .pull-right
    .btn-mini{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Settings
    / Modal
    #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Project / Settings
      .modal-body
        = render 'update_form'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes