%form.form-inline
<<<<<<< HEAD
  %h2 Services
  %h3 Travis-CI
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %h3 Pivotal Tracker
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
=======
  %h4 Services
  %h6 Travis-CI
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %h6 Pivotal Tracker
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
>>>>>>> master
