%form.form-inline
  %h3 People
  %input.input-medium{:placeholder => 'username'}
  %button.btn Invite
  %hr
  %h3 Services
  %p Github
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %p Travis-CI
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %p Pivotal Tracker
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add