%form.form-inline
  %h4 People
  %input.input-medium{:placeholder => 'username'}
  %button.btn Invite
  %hr
  %h4 Services
  %h6 Github
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %h6 Travis-CI
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %h6 Pivotal Tracker
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add