%form.form-inline
  %h4 Services
  %h6 Travis-CI
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %h6 Pivotal Tracker
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
