%form.form-inline
  %h2 Services
  %h3 Travis-CI
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
  %br
  %h3 Pivotal Tracker
  %input.input-medium{:placeholder => 'ID'}
  %button.btn Add
