
.span3.bs-docs-sidebar
  %ul.nav.nav-tabs.nav-stacked
    %li
      %a{:href => "#dropdowns"}
        LOGO
    %li
      %a{:href => "#buttonDropdowns"}
        Project UNO
        .pull-right
          .btn-mini{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Settings
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel Project / Settings
            .modal-body
              = render 'update_form'
            .modal-footer
              %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
              %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes
    %li
      %a{:href => "#"}
        PROJECT NOT
    %li
      %a{:href => "#"}
        PROJECT
    %li
      %a{:href => "#"}
        PROJECT
    %li
      %a{:href => "#"}
        PROJECT
    %li
      %a{:href => "#"}
        PROJECT
    %li
      %a{:href => "#"}
        PROJECT
    %li
      %a{:href => "#"}
        PROJECT
    %li
      %a{:href => "#"}
        PROJECT
.span3.feed
  %p.feed-title GitHub
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
.span3.feed
  %p.feed-title Travis CI
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
.span3.feed
  %p.feed-title Pivotal Tracker
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234