.span3.side-nav
  %ul.side-nav
    %li.side-nav.logo
      = link_to current_user.login, '#', class: 'side-nav logo'
    - @projects.each_with_index do |project, index|
      %li.side-nav{'data-toggle' => 'tooltip', 'data-animation'=> true,'data-placement' => 'right' , 'data-original-title' => "fn + control + option + #{index+1} for settings hot-key"}
        = render "project_settings", {project: project, count: index}
    %li
      = render 'add_project', {search: @repo_auto_complete}
  
.span3.feed
  %p.feed-title GitHub
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
.span3.feed
  %p.feed-title Travis CI
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
.span3.feed
  %p.feed-title Pivotal Tracker
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
%script $('li.side-nav').tooltip();
