.span3.side-nav
  %ul.side-nav
    %li.side-nav
      %a.side-nav.logo{:href => "#dropdowns"}
        gSchool
    %li.side-nav
      %a.side-nav{:href => "#buttonDropdowns"}
        Feed Engine
        .pull-right
          .btn.btn-warning.btn-mini{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Settings
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h2#myModalLabel Project / Settings
            .modal-body
              = render 'update_form'
            .modal-footer
              %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
              %button.btn.btn-warning{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes
    %li.side-nav
      %a.side-nav{:href => "#buttonDropdowns"}
        Store Engine
        .pull-right
          .btn.btn-warning.btn-mini{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Settings
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel Project / Settings
            .modal-body
              = render 'update_form'
            .modal-footer
              %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
              %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes
    %li.side-nav
      %a.side-nav{:href => "#buttonDropdowns"}
        JetFuel
        .pull-right
          .btn.btn-warning.btn-mini{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Settings
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel Project / Settings
            .modal-body
              = render 'update_form'
            .modal-footer
              %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
              %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes
.span3.feed
  %p.feed-title GitHub
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
.span3.feed
  %p.feed-title Travis CI
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
.span3.feed
  %p.feed-title Pivotal Tracker
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234
  .feed-data Pull request 324234