---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/blairand/alpha-feed-engine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"06bc837052304a26e7e31dc484fa0b12"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"repo":{"id":886775,"slug":"blairand/alpha-feed-engine","description":"The
        goal of this project is to practice consuming web service APIs as well as
        publishing an API of your own. You will create a Tumblr or Friendfeed-like
        system that lets users publish a timeline of activities that they have either
        created on the site or that are activity imported from another third-party
        site such as GitHub, Twitter, and Instagram. In addition, you will provide
        an API for reading and writing to a user\u2019s activity stream, and publish
        a gem to let other application developers consume your API.","last_build_id":7345382,"last_build_number":"54","last_build_state":"failed","last_build_duration":295,"last_build_language":null,"last_build_started_at":"2013-05-21T03:28:16Z","last_build_finished_at":"2013-05-21T03:33:11Z"}}'
  recorded_at: Tue, 21 May 2013 03:57:57 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/builds/?repository_id=886775
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"06bc837052304a26e7e31dc484fa0b12"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"builds":[{"id":7345382,"repository_id":886775,"commit_id":2170513,"number":"54","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3"],"script":["bundle
        exec rake db:migrate","bundle exec rake db:reset","bundle exec rake db:test:prepare","bundle
        exec rspec spec/"],".result":"configured"},"state":"failed","started_at":"2013-05-21T03:28:16Z","finished_at":"2013-05-21T03:33:11Z","duration":295,"job_ids":[7345383]},{"id":7344456,"repository_id":886775,"commit_id":2170312,"number":"53","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3"],"script":["bundle
        exec rake db:migrate","bundle exec rake db:reset","bundle exec rake db:test:prepare","bundle
        exec rspec spec/"],".result":"configured"},"state":"failed","started_at":"2013-05-21T02:54:24Z","finished_at":"2013-05-21T03:00:07Z","duration":343,"job_ids":[7344457]},{"id[...]
