---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/blairand/alpha-feed-engine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"60d5e753fb4603675371c8a36078ad3b"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"repo":{"id":886775,"slug":"blairand/alpha-feed-engine","description":"The
        goal of this project is to practice consuming web service APIs as well as
        publishing an API of your own. You will create a Tumblr or Friendfeed-like
        system that lets users publish a timeline of activities that they have either
        created on the site or that are activity imported from another third-party
        site such as GitHub, Twitter, and Instagram. In addition, you will provide
        an API for reading and writing to a user\u2019s activity stream, and publish
        a gem to let other application developers consume your API.","last_build_id":7305752,"last_build_number":"34","last_build_state":"passed","last_build_duration":251,"last_build_language":null,"last_build_started_at":"2013-05-19T19:25:21Z","last_build_finished_at":"2013-05-19T19:29:32Z"}}'
  recorded_at: Sun, 19 May 2013 21:29:59 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/builds/?repository_id=886775
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"60d5e753fb4603675371c8a36078ad3b"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"builds":[{"id":7305752,"repository_id":886775,"commit_id":2158983,"number":"34","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3"],"script":["bundle
        exec rake db:migrate","bundle exec rake db:reset","bundle exec rake db:test:prepare","bundle
        exec rspec spec/"],".result":"configured"},"state":"passed","started_at":"2013-05-19T19:25:21Z","finished_at":"2013-05-19T19:29:32Z","duration":251,"job_ids":[7305753]},{"id":7305455,"repository_id":886775,"commit_id":2158899,"number":"33","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3"],"script":["bundle
        exec rake db:migrate","bundle exec rake db:reset","bundle exec rake db:test:prepare","bundle
        exec rspec spec/"],".result":"configured"},"state":"passed","started_at":"2013-05-19T19:11:54Z","finished_at":"2013-05-19T19:16:07Z","duration":253,"job_ids":[7305456]},{"id[...]
- request:
    method: get
    uri: https://api.travis-ci.org/builds/?after_number=10&repository_id=886775
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"3482728313c39ba079275ca42de1eabd"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"bu[...]
