---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/blairand/alpha-feed-engine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"2d997aa6982461152b81d323dd2a8012"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"repo":{"id":886775,"slug":"blairand/alpha-feed-engine","description":"The
        goal of this project is to practice consuming web service APIs as well as
        publishing an API of your own. You will create a Tumblr or Friendfeed-like
        system that lets users publish a timeline of activities that they have either
        created on the site or that are activity imported from another third-party
        site such as GitHub, Twitter, and Instagram. In addition, you will provide
        an API for reading and writing to a user\u2019s activity stream, and publish
        a gem to let other application developers consume your API.","last_build_id":7329260,"last_build_number":"45","last_build_state":"passed","last_build_duration":309,"last_build_language":null,"last_build_started_at":"2013-05-20T17:14:55Z","last_build_finished_at":"2013-05-20T17:20:04Z"}}'
  recorded_at: Mon, 20 May 2013 20:16:35 GMT
- request:
    method: get
    uri: https://api.travis-ci.org/builds/?repository_id=886775
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"2d997aa6982461152b81d323dd2a8012"'
      X-Accepted-Oauth-Scopes:
      - public
      X-Oauth-Scopes:
      - public
    body:
      encoding: US-ASCII
      string: ! '{"builds":[{"id":7329260,"repository_id":886775,"commit_id":2166092,"number":"45","pull_request":false,"pull_request_title":null,"pull_request_number":null,"config":{"language":"ruby","rvm":["1.9.3"],"script":["bundle
        exec rake db:migrate","bundle exec rake db:reset","bundle exec rake db:test:prepare","bundle
        exec rspec spec/"],".result":"configured"},"state":"passed","started_at":"2013-05-20T17:14:55Z","finished_at":"2013-05-20T17:20:04Z","duration":309,"job_ids":[7329261]},{"id":7311771,"repository_id":886775,"commit_id":2160688,"number":"44","pull_request":true,"pull_request_title":"Some
        preliminary travis view templating","pull_request_number":30,"config":{"language":"ruby","rvm":["1.9.3"],"script":["bundle
        exec rake db:migrate","bundle exec rake db:reset","bundle exec rake db:test:prepare","bundle
        exec rspec spec/"],".result":"configured"},"state":"passed","started_at":"2013-05-20T01:58:25Z","finished_at":"2013-05-20T02:02:30Z[...]
