.navbar.navbar-top
  .navbar-inner
    .container
      %a.brand HaxHub
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li.nav
            - if current_user
              = "#{current_user.login}"
              = link_to "logout", logout_path
            - else
              = link_to "login", github_auth_path