.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "./"}
      .nav-collapse.collapse
        %button.pull-right= button_to "login w/github", "#"
        %button.pull-right= button_to "Sign up", '#'
        .pull-right= auth_message
