.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand HaxHub
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li.nav= link_to "Login", "#"
          %li.nav= link_to "Sign up", '#'
