.navbar.navbar-top
  .navbar-inner
    .container
      %a.brand HaxHub
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if current_user
            %li.nav #{current_user.login} #{link_to "logout", logout_path}
          - else
            %li.nav #{link_to "Sign in with Github", github_auth_path}