.container.lead
  %h1.lead Track your team's progress.
  %p.lead Haxhub is a developer dashboard to visualize your project.
  = link_to "Get started now", github_auth_path, class: "btn btn-large btn-warning"
%container
  %ul.thumbnails
    %li.span4
      .thumbnail.home
        %img.home{:src => "assets/github-service.png"}
          %h3.home GitHub
          %p Track your team commits in a single place.
    %li.span4
      .thumbnail.home
        %img.home{:src => "assets/travis-service.png"}
          %h3.home Travis CI
          %p Check all your recent passing builds on real-time.
    %li.span4
      .thumbnail.home
        %img.home{:src => "assets/pivotal-tracker-service.png"}
          %h3.home Pivotal Tracker
          %p Get the latest activity from your Pivotal Tracker projects.
