.span3.bs-docs-sidebar
  %ul.nav.nav-tabs.nav-stacked
    %li
      %a{:href => "#dropdowns"}
        %i.icon-chevron-right
        LOGO
    %li
      %a{:href => "#buttonGroups"}
        %i.icon-chevron-right
        PROJECT 1
    %li
      %a{:href => "#buttonDropdowns"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#navs"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#navbar"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#breadcrumbs"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#pagination"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#labels-badges"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#typography"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#thumbnails"}
        %i.icon-chevron-right
        PROJECT
.container
  .span3
    %p stuff
  .span3
    %p stuff
  .span3
    %p stuff
