%br
%br
.span3.bs-docs-sidebar
  %ul.nav.nav-tabs.nav-stacked
    %li
      %a{:href => "#dropdowns"}
        %i.icon-chevron-right
        LOGO
    %li
      %a{:href => "#buttonDropdowns"}
        %i.icon-chevron-right
        Project UNO
        .pull-right
          .btn-mini{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Settings
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel Project / Settings
            .modal-body
              = render 'update_ form'
              %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
              %button.btn.btn-primary{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes
    %li
      %a{:href => "#buttonDropdowns"}
        %i.icon-chevron-right
        PROJECT NOT
    %li
      %a{:href => "#navs"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#navbar"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#breadcrumbs"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#pagination"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#labels-badges"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#typography"}
        %i.icon-chevron-right
        PROJECT
    %li
      %a{:href => "#thumbnails"}
        %i.icon-chevron-right
        PROJECT
.container
  .span3.feed
    %p.feed-title GitHub
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
  .span3.feed
    %p.feed-title Travis CI
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
  .span3.feed
    %p.feed-title Pivotal Tracker
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234
    .feed-data Pull request 324234

javascript:

