@import "bootstrap";

// HOME

ul.thumbnails {
  margin-left:  auto;
  margin-top:   40px;
  margin-right: auto;
  padding:      60px;
  width:        1000px;
}

.thumbnail.home {
  display: block;
  padding: 10px;
  line-height: 20px;
  // border: none;
  box-shadow: none;
  font-weight: lighter;
}

img.home {
  padding-bottom: 10px;
}

h3.home {
  text-align: center;
}

// MODAL HOME

.modal.home {
  position:     fixed;
  top:          10%;
  left:         50%;
  z-index:      1050;
  width:        760px;
  height:       auto;
  margin-left: -380px;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid
  rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.modal-header.home {
  background-color: #333;
}

.close.home {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color:
  orange;
  text-shadow: none;
  opacity: 10;
  filter: alpha(opacity=20);
}

.modal-body.home {
  position: relative;
  overflow-y: auto;
  min-height: 440px;
  padding: 15px;
}

// SIDEBAR

a.add_project {
  color:           orange;
  margin-bottom:   20px;
  padding-top:     4px;
  padding-bottom:  23px;
  padding-right:   10px;
  text-decoration: none;
  font-size:       18px;
  font-weight:     bold;
}

ul, menu, dir {
  display: block;
  list-style-type: none;
  font-size: 18px;
  padding-left: 10px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}

li.side-nav {
  border-bottom:   1px solid;
  border-color:    #AAAAAA;
  color:           #0088cc;
  margin-bottom:   20px;
  padding-top:     4px;
  padding-bottom:  23px;
  padding-right:   10px;
  text-decoration: none;
}

li.side-nav.active {
  padding-left: 10px;
}

li.side-nav.active a:before {
  content: "> ";
}

a.side-nav {
  color:       black;
  font-size:   20px;
  font-weight: bold;
}

a.side-nav.logo {
  font-size: 20px;
  color: orange;
  font-weight: bold;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.span3.side-nav {
  border-collapse: collapse;
  width: 21%;
  display: inline;
  margin: 0px;
  border: none;
  margin-right: 10px;
}

span.side-nav {
  width: 5%;
}

img.gear-icon {
  height: 25px;
  width: 25px;
}

#notices {
  min-height: 60px;
}

// FEED

.span3.feed {
  border-collapse: collapse;
  width: 33%;
  display: inline;
  margin: 0px;
  border: none;
}

p.feed-title {
  margin-bottom: 0px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  min-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform:uppercase;
  letter-spacing: 0.2em;
}

.feed-data {
  font-size: 14px;
  background-color: #EAEAEA;
  border: solid 1px #AAAAAA;
  min-height: 6%;
  max-height: 60px;
  padding: 5px;
  margin: 5px;
}

.github div.feed-data:nth-of-type(even) {
  background-color: #FAFAFA;
}

.github div.feed-data:hover {
  background-color: #F5F6CE;
}

.github img.thumb {
  height: 60px;
  width: 60px;
}
.github .media-body {
  height: 60px;
}

.media-body {
  position: relative;
}

.feed-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
}
.feed-footer .pull-left, .feed-footer .pull-right {
  font-size: 12px;
}
.feed-footer .pull-left {
  font-style:italic;
}

// PIVOTAL SPECIFIC

.media-body.pivotal {
  min-height: 60px;
}

.pivotal img {
  height: 25px;
  width: 25px;
}

.pivotal-accepted {
  background-color: #CEF6CE;
}

.pivotal-delivered {
  background-color: #F5F6CE;
}

.pivotal-unscheduled {
  background-color: #CEECF5;
}

.initials {
  color: #6E6E6E;
}

.pivotal .media {
  position: relative;
}

.points {
  position: absolute;
  left: 14;
  top: 9;
  font-size: 12px;
  font-family: monospace;
}

// TRAVIS SPECIFIC

.travis .feed-data {
  background-color: white;
}

.travis-passed {
  border: dashed 2px #81F781;
}

.travis-failed {
  border: dashed 2px #F78181;
}

.travis-created, .travis-started {
  border: dashed 2px yellow;
}

.travis img {
  height: 25px;
  width: 25px;
}

.notice-window {
  padding: 30px;
  padding-top: 0px;
}
// NAVBAR

.navbar-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #333;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  border-radius: 0px;
}

.navbar .brand {
  display: block;
  float: left;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  color: orange;
  text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: orange;
  text-decoration: none;
  background-color: none;
}

.navbar .nav > li > a {
  color:           white;
  text-align:      right;
  font-weight:     bold;
  font-size:       20px;
  margin-bottom:   -10px;
  margin-right:    -12px;
  padding-bottom:  25px;
  text-decoration: none;
  text-shadow:     none;
}

.navbar-top {
  margin-bottom: 5px;
}

.navbar .nav {
  position:    relative;
  left:        0;
  display:     block;
  text-align:  right;
  line-height: 12px;
  font-weight: normal;
  font-size:   16px;
  margin:      0 10px 0 0;
  color:       orange;
}

#carousel img {
  height: 20px;
  width: 20px;
}

// MASTHEAD

.container.lead {
  height: 200px;
  margin-top: 100px;
  text-align: center;
}

h1.lead {
  font-size: 72px;
  line-height: 1;
}

// MODAL

#myModalLabel {
  color: orange;
}

// light Switch on project settings tab

input[type=radio] + label:before, input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 80px;
    background: url(switch.png) no-repeat top right;
}

input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before {
    background-position: top left;
}

input[type=radio]+label:before, input[type=checkbox]+label:before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 80px;
    background: url(switch.png) no-repeat top right;
    /* Adding in some CSS3 transition goodness */
    transition: background-position .2s;
    -webkit-transition: background-position .2s;
    -moz-transition: background-position .2s;
    -o-transition: background-position .2s;
    -ms-transition: background-position .2s;
}

input[type=radio], input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

input[type=radio]:focus, input[type=checkbox]:focus {
    position: static;
}
