@import "bootstrap";

// HOME

ul.thumbnails {
  margin-left:  auto;
  margin-top:   40px;
  margin-right: auto;
  padding:      50px;
  width:        1000px;
}

// SIDEBAR

a.add_project {
  color:           orange;
  margin-bottom:   20px;
  padding-top:     4px;
  padding-bottom:  23px;
  padding-right:   10px;
  text-decoration: none;
  font-size:       18px;
  font-weight:     bold;
}

ul, menu, dir {
  display: block;
  list-style-type: none;
  font-size: 18px;
  padding-left: 10px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}

li.side-nav {
  border-bottom:   1px solid;
  border-color:    #AAAAAA;
  color:           #0088cc;
  margin-bottom:   20px;
  padding-top:     4px;
  padding-bottom:  23px;
  padding-right:   10px;
  text-decoration: none;
}

li.side-nav.active {
  padding-left: 10px;
}

li.side-nav.active a:before {
  content: "> ";
}

a.side-nav {
  color:       black;
  font-size:   20px;
  font-weight: bold;
}

a.side-nav.logo {
  font-size: 20px;
  color: orange;
  font-weight: bold;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.span3.side-nav {
  border-collapse: collapse;
  width: 21%;
  display: inline;
  margin: 0px;
  border: none;
  margin-right: 10px;
}

span.side-nav {
  width: 5%;
}

img.gear-icon {
  height: 25px;
  width: 25px;
}

// FEED

.span3.feed {
  border-collapse: collapse;
  width: 33%;
  display: inline;
  margin: 0px;
  border: none;
}

p.feed-title {
  margin-bottom: 2px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  min-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feed-data {
  font-size: 14px;
  background-color: #EAEAEA;
  border: solid 1px #AAAAAA;
  min-height: 6%;
  max-height: 60px;
  padding: 5px;
  margin: 5px;
}
.github div.feed-data:nth-of-type(even) {
  background-color: #FAFAFA;
}

.github div.feed-data:hover {
  background-color: #F5F6CE;
}

span.pull-left img.thumb {
  height: 60px;
  width: 60px;
}
.media-body {
  height: 60px;
  position: relative;
}
.feed-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
}
.feed-footer .pull-left, .feed-footer .pull-right {
  font-size: 12px;
}
.feed-footer .pull-left {
  font-style:italic;
}

// NAVBAR

.navbar-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #333;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  border-radius: 0px;
}

.navbar .brand {
  display: block;
  float: left;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  color: orange;
  text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: orange;
  text-decoration: none;
  background-color: none;
}

.navbar .nav > li > a {
  color:           white;
  float:           left;
  font-weight:     bold;
  font-size:       1.2em;
  margin-bottom:   -10px;
  padding-bottom:  25px;
  text-decoration: none;
  text-shadow:     none;
}

.navbar-top {
  margin-bottom: 5px;
}

.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
color:
white;
}

// MASTHEAD

.container.lead {
  height: 200px;
  margin-top: 100px;
  text-align: center;
}

h1.lead {
  font-size: 72px;
  line-height: 1;
}

// MODAL

#myModalLabel {
  color: orange;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 30px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color:
#555555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}