@import "bootstrap";

ul.thumbnails {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 50px;
  margin-top: 40px;
}

/* SIDEBAR */

.span3.bs-docs-sidebar {
  width: 18%;
  display: inline;
  margin-left: 0px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid;
  border-color: #AAAAAA;
  border-radius: 0;
  min-height: 40px;
  font-weight: bold;
  font-color: orange;
  font-size: 18px;
}

/* FEED */

.span3.feed {
  border-collapse: collapse;
  min-height: 100%;
  width: 26.2%;
  display: inline;
  margin: 2px;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
}

p.feed-title {
  margin-bottom: 2px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  min-height: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.feed-data {
  font-weight: bold;
  font-size: 14px;
  background-color: #EAEAEA;
  border: solid 1px #AAAAAA;
  text-align: center;
  min-height: 40px;
  padding: 5px;
  margin: 5px;
}

/* NAVBAR */

.navbar-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: none;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #333;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  border-radius: 0px;
}

.navbar .brand {
  display: block;
  float: left;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  color: orange;
  text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: orange;
  text-decoration: none;
  background-color: none;
}

.navbar .nav > li > a {
  float: left;
  padding-bottom: 25px;
  margin-bottom: -10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: none;
}

.navbar-top {
  margin-bottom: 5px;
}

/* MASTHEAD */

.container.lead {
  height: 200px;
  margin-top: 100px;
  text-align: center;
}

h1.lead {
  font-size: 72px;
  line-height: 1;
}
